langchain
openai
faiss-cpu
streamlit
python-dotenv
pypdf
docx2txt
tiktoken
streamlit
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
sentence-transformers
torch
transformers